{% extends "base.html" %}
{% block content %}

<div class="h-screen max-w-7xl mx-auto items-center justify-center">
  <div class="flex flex-row justify-between px-10 py-5">
    <img src="/static/image/logo.svg" class="scale-75" alt="logo" draggable="false">
    <div class="flex flex-row space-x-2">
      {% if not logged_in: %}
      <a href="{{ url_for('login') }}"
        class="relative inline-flex items-center justify-center px-10 my-4 py-2 overflow-hidden font-medium tracking-tighter text-white bg-gray-800 rounded-lg group w-30">
        <span
          class="absolute w-0 h-0 transition-all duration-500 ease-out bg-green-500 rounded-full group-hover:w-56 group-hover:h-56"></span>
        <span
          class="absolute inset-0 w-full h-full -mt-1 rounded-lg opacity-30 bg-gradient-to-b from-transparent via-transparent to-gray-700"></span>
        <span class="relative">Login</span>
      </a>
      <a href="{{ url_for('register') }}"
        class="relative inline-flex items-center justify-center px-10 my-4 py-2 overflow-hidden font-medium tracking-tighter text-white bg-gray-800 rounded-lg group w-30">
        <span
          class="absolute w-0 h-0 transition-all duration-500 ease-out bg-green-500 rounded-full group-hover:w-56 group-hover:h-56"></span>
        <span
          class="absolute inset-0 w-full h-full -mt-1 rounded-lg opacity-30 bg-gradient-to-b from-transparent via-transparent to-gray-700"></span>
        <span class="relative">Register</span>
      </a>
      {% endif %}
      {% if logged_in: %}
      <a href="{{ url_for('main') }}"
        class="relative inline-flex items-center justify-center px-10 my-4 py-2 overflow-hidden font-medium tracking-tighter text-white bg-gray-800 rounded-lg group w-30">
        <span
          class="absolute w-0 h-0 transition-all duration-500 ease-out bg-green-500 rounded-full group-hover:w-56 group-hover:h-56"></span>
        <span
          class="absolute inset-0 w-full h-full -mt-1 rounded-lg opacity-30 bg-gradient-to-b from-transparent via-transparent to-gray-700"></span>
        <span class="relative">Main</span>
      </a>
      <a href="{{ url_for('logout') }}"
        class="relative inline-flex items-center justify-center px-10 my-4 py-2 overflow-hidden font-medium tracking-tighter text-white bg-gray-800 rounded-lg group w-30">
        <span
          class="absolute w-0 h-0 transition-all duration-500 ease-out bg-green-500 rounded-full group-hover:w-56 group-hover:h-56"></span>
        <span
          class="absolute inset-0 w-full h-full -mt-1 rounded-lg opacity-30 bg-gradient-to-b from-transparent via-transparent to-gray-700"></span>
        <span class="relative">Log Out</span>
      </a>

      {% endif %}
    </div>
  </div>

  <div class="grid grid-cols-4 mt-40">
    <img src="/static/image/sports.png" class="scale-75 rounded-2xl hover:shadow-2xl" alt="logo" draggable="false">
    <img src="/static/image/mines.avif" class="scale-75 rounded-2xl hover:shadow-2xl" alt="logo" draggable="false">
    <img src="/static/image/roulette.avif" class="scale-75 rounded-2xl hover:shadow-2xl" alt="logo" draggable="false">
    <img src="/static/image/blackjack.avif" class="scale-75 rounded-2xl hover:shadow-2xl" alt="logo" draggable="false">
  </div>

</div>
{% endblock %}